body {
    background-color: lightseagreen;
}

.h1_class {
    color: blue;
    text-align: center;
}

p {
    color: blueviolet;
    text-align: center;
}

.all_links {
    color: brown;
    text-align: center;
}