<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Post</title>
</head>
<body>
    <h2>
        Title: {{ single_post["title"] }}
    </h2>
    <h3>
        Subtitle: {{ single_post["subtitle"] }}
    </h3>
    <p>
        Body: {{ single_post["body"] }}
    </p>
    <a href="{{ url_for('post') }}">Back to Post Page</a>
    <a href="{{ url_for('homepage') }}">Back to Home Page</a>
</body>
</html>